h1{
	background-color:grey;
	margin:auto;
	width:550px;
	font-family:'Lemon milk','lemon milk regular';
}

body{
	text-align:center;
	background-image:url("BlogPost-skillDiversity.jpg");
	background-repeat:repeat-y;
	background-position:center-right;
	font-family:'Berlin sans FB','Berlin sans FB demi bold';
}

table{
	margin:auto
}

div {
	background-image:url("assgn.jpg");
	background-position:center;
	background-repeat:no-repeat;
	width:600px;
	margin:auto;
}